<%= form_for(@household) do |f| %>
  <% if @household.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@household.errors.count, "error") %> prohibited this household from being saved:</h2>
      <ul>
      <% @household.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%if f.object.new_record?%>
    <table>
        <tb>Primary Applicant</td>
        <%= f.fields_for :household_members do |hm| %>
          <td><%= hm.text_field :name%></td>
          <%= hm.hidden_field :is_primary, value: true%>
        <% end %> 
      </tbody>
    </table>
  <%else%>
    <table>
      <th>Member's</th>
      <th>&nbsp;&nbsp;&nbsp;</th>
      <th>Relation to</th>
      <th>&nbsp;&nbsp;&nbsp;</th>
      <th>Primary</th>
      <%= f.fields_for :household_members do |builder| %>
        <%=render 'household_member_fields', f: builder%>
      <% end %>
    <table>
    <%= link_to_add_fields "Add New Member", f, :household_members %>
    <br/>
  <%end%>
  <br />
  <div class="actions">
    <%= f.submit %>
  </div>

  <br />
 
  <%if @relationships.present?%>
    <div>
      <h3> Relationships: </h3>
      <%@relationships.each do |rel|%>
        <li><%= print_relationship(rel) %></li>
      <%end%>
    </div>
  <%end%>
  
  <br/><br/>

<% end %>