<tbody>
  <td><%= f.text_field :name, value: f.object[:name]%></td>
  <td>&nbsp;&nbsp;&nbsp;</td>
  <td align = "center">
    <%if f.object.is_primary?%>
      [ self ]
    <%else%>
      <%= f.select :relationship, HouseholdMember::RELATIONSHIP_KINDS, include_blank: true, selected: find_relationship(f.object)%>
    <%end%>
  </td>
  <td>&nbsp;&nbsp;&nbsp;</td>
  <td align = "center">
    
    <%#= f.text_field :name_related, list: "names", value: f.object.household.present? && !f.object.is_primary? ? f.object.household.primary_member.name : ""%>
    <%if f.object.is_primary?%>
      [ <%=f.object.name%> ]
    <%else%>
      <%= f.text_field :name_related, value: f.object.is_primary? ? "" : @household.primary_member.name, readonly: true %>
    <%end%>
    
    <%#= f.text_field :name_related, list: "names", value: find_relation_to(f.object), disabled: true %>
    <datalist id="names">
      <% @members.where(is_primary: true).each do |person| %>
        <option value="<%= person[:name] %>"></option>
      <% end %>
    </datalist>
  </td>
  <td><%#= link_to 'Edit', edit_household_member_path(f.object) %></td>
</tbody>